<div class='text-center'>
  <h2>{{name}}</h2>

  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <p>
    <button class='btn btn-primary'>Comment</button>
  </p>
</div>

{{! have to add a form to create a new comment dont show comments on homepage}}